
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      height: 900px;
      background: url("../imagens/guittar.jpg") no-repeat center/cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-box {
      background: rgba(0, 0, 0, 0.8);
      padding: 60px;
      border-radius: 10px;
      width: 300px;
      color: #ffff  ;
      text-align: center;
      box-shadow: 0 0 15px;
    }

    .login-box h2 {
      margin-bottom: 20px;
      color: 6b4c39;
    }

    .login-box input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      color: #800000;
    }

    .login-box button {
      width: 100%;
      padding: 10px;
      background: 6b4c39;
      border: none;
      color: rgb(0, 0, 0);
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 10px;
    }

    .login-box button:hover {
      background: dark#ff8c00;
    }