
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
}


body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: 'Metallica', Arial, sans-serif;
    text-align: center;
    color: #e50914;
    font-size: 10em;
}

form {
    background-color: #1b1b1b;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}


h2 {
    text-align: center;
    color: #e50914;
    margin-bottom: 20px;
}


form div {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
}


input, textarea, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}


textarea {
    resize: none;
    height: 80px;
}


input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #b20710;
}

